1.Analysing the mean of the dataset

In [2]:
# import relevent libraries
import pandas as pd
import numpy as np 
from scipy import stats

In [3]:
# Load data into dataframe
covid_data =pd.read_csv("data/covid-data.csv")

In [4]:
# Inspect the data frame
covid_data.head(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,24/02/2020,5,5,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,25/02/2020,5,0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,26/02/2020,5,0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,27/02/2020,5,0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,28/02/2020,5,0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [5]:
covid_data = covid_data[['iso_code','continent','location','date','total_cases','new_cases']]
covid_data.head(5)

  iso_code continent     location        date  total_cases  new_cases
0      AFG      Asia  Afghanistan  24/02/2020            5          5
1      AFG      Asia  Afghanistan  25/02/2020            5          0
2      AFG      Asia  Afghanistan  26/02/2020            5          0
3      AFG      Asia  Afghanistan  27/02/2020            5          0
4      AFG      Asia  Afghanistan  28/02/2020            5          0

In [6]:
covid_data.dtypes

iso_code       object
continent      object
location       object
date           object
total_cases     int64
new_cases       int64
dtype: object

In [7]:
# Analyse the mean of the new_cases column using mean method in numpy
data_mean =np.mean(covid_data['new_cases'])
data_mean

8814.365761430045

In [8]:
# Analyse the mean of the new_cases column using mean method in pandas
data_mean = covid_data['new_cases'].mean()
data_mean

8814.365761430045

2.Checking the Median of a dataset

In [9]:
# Check the meadian of the new_cases column using the median method in numpy 
data_median = np.median(covid_data["new_cases"])
data_median

261.0

In [10]:
# Check the median of the new_cases column using the median method in pandas 
data_median = covid_data['new_cases'].median()
data_median

261.0

3.Identifying the mode of a dataset

In [11]:
# Identifying the mode of the new_data column using the mode method (from scipy import stats)
data_mode = covid_data['new_cases'].mode()[0]
data_mode

0

In [12]:
# Identifying the mode of the continent column using the mode method 
data_mode = covid_data['continent'].mode()[0]
data_mode

'Europe'

Checking the variance of a dataset

In [13]:
# Check the variance of the new_cases column using the var method in numpy 
data_variance = np.var(covid_data['new_cases'])
data_variance

451321915.92810047

In [14]:
# Check the variance of the new_cases column using the var method in pandas
covid_data['new_cases'].var()

451399502.6422019

Identifying the standard deviation of a dataset

In [15]:
# Identifying the standard deviation of a dataset using the std method in numpy
data_sd = np.std(covid_data["new_cases"])
data_sd

21244.33844411495

In [16]:
# Identifying the standard deviation of a dataset using the std method in pandas
covid_data['new_cases'].std()

21246.16442189512

Generating the range of a dataset

In [17]:
# Generate the range of a dataset using numpy 
data_max = np.max(covid_data['new_cases'])
data_min = np.min(covid_data["new_cases"])
print(data_max,data_min)

287149 0

In [18]:
data_range = data_max - data_min
data_range

287149

In [19]:
# Generate the range of a dataset using pandas
covid_data['new_cases'].max() - covid_data['new_cases'].min()

287149

Identifying the percentiles of a dataset

In [20]:
data_percentile = np.percentile(covid_data["new_cases"],97)
data_percentile

64392.37999999999

In [21]:
covid_data['new_cases'].quantile(.99)

88086.02999999998

Checking a quartile of a dataset

In [22]:
data_quartile = np.quantile(covid_data['new_cases'],0.75)
data_quartile

3666.0

Analyzing the interquartile range (IQR) of a dataset

In [23]:
data_IQR = stats.iqr(covid_data['new_cases'])
data_IQR

3642.0